
.albums-section {
  background: url("https://rfumc.files.wordpress.com/2012/02/music-wallpaper-mobile-500.jpg") 50% no-repeat;
  background-size: cover;
  height: 130vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.albums-section .albums-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}


.animated-search-form[type=search] {
  width: 90rem;
  border: 0.125rem solid #e6e6e6;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
  border-radius: 0;
  background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
  background-position:0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:focus {
  width: 100%;
}
