.container {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000;
}
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }

  .overlay {
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 100%;
    max-width: 45em;
    box-sizing: border-box;
    padding: 2em;
    line-height: 1.5;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    h1 {
      font-size: 14pt;
      font-weight: normal;
      text-shadow: 0 0 .3em #000;
      margin: 1em 0;
    }
    p {
      font-size: 11pt;
      text-shadow: 0 0 .3em #000;
      margin: 1em 0;
    }
    a {
      color: #fff;
    }
  }

}
